# Default ignored files
/../../linked_list_assignment /.idea/shelf/
/../../linked_list_assignment /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../linked_list_assignment /.idea/httpRequests/
# Datasource local storage ignored files
/../../linked_list_assignment /.idea/dataSources/
/../../linked_list_assignment /.idea/dataSources.local.xml
